@import "tailwindcss";
 
/* responsiveness */
@theme{
    --breakpoint-tablet: 900px;
    --breakpoint-mobile: 500px; 
}

/* animation */
@keyframes slideUp {
  from { transform: translateY(30px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
.animate-slideUp {
  animation: slideUp 1.8s ease-out forwards;
}