@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;700&display=swap");

html, body {
  font-family: 'EB Garamond', serif;
}

@import "tailwindcss";

/* responsiveness */
@theme{
    --breakpoint-tablet: 900px;
    --breakpoint-mobile: 500px; 
}

/* animation */
@keyframes slideUp {
  from { transform: translateY(30px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
.animate-slideUp {
  animation: slideUp 1.8s ease-out forwards;
}


/* Slide down + fade animation for dropdown */
@keyframes slideDownFade {
  0% {
    opacity: 0;
    transform: translateY(-12px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Slide up + fade out */
@keyframes slideUpFade {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-12px);
  }
}

/* Class to call in Tailwind JSX */
.dropdown-animation {
  animation: slideDownFade 0.4s ease-out forwards;
}
.dropdown-slide-up {
  animation: slideUpFade 0.3s ease-in forwards;
}

